header{
  border-radius: 1px;
  border: solid;
  padding-top: 40px;
}

.medical-clinic-icon-svg{
  height: 50px;
  padding: 8px 8px 8px 0;
  width: 50px;
  color: darkolivegreen;
}

.medical-clinic-text{
  font-weight: 700;
  height: 50px;
  width: 50px;
  color: darkgreen;
}

.logo{
  text-decoration: none;
}
