<div class="treatment-container">
  <div class="row treatment" *ngFor="let patient of patients">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
      <div class="treatment-title">
        <p class="">Basic information:</p>
        {{"Fullname: " + patient.firstName + " " + patient.lastName}}
        <br/>
        {{"Pesel: " + patient.pesel}}
        <br/>
        {{"Phone number: " + patient.phoneNumber}}
        <br/>
        {{"E-mail: " + patient.email}}
      </div>
      <br/>
      <div class="treatment-title">
        <p class="">Address:</p>
        {{"Country: " + patient.country}}
        <br/>
        {{"Voivodeship: " + patient.voivodeship}}
        <br/>
        {{"City: " + patient.city}}
        <br/>
        {{"Zip code: " + patient.zipCode}}
        <br/>
        {{"Street: " + patient.street}}
        <br/>
        <div *ngIf="patient.flatNumber != null">
          {{"Flat number: " + patient.flatNumber}}
        </div>

      </div>
      <br/>
      <div class="treatment-title">
        <p class="">Treatments:</p>
<!--        <div *ngIf="treatmentsHistory[patient.patientID]">-->
<!--          <div *ngFor="let treatment of treatmentsHistory[patient.patientID]">-->
<!--            {{"Treatment name: " + treatment.treatmentName}}-->
<!--            <br/>-->
<!--            {{"Treatment date: " + treatment.treatmentDate}}-->
<!--            <br/>-->
<!--            {{"It took place? " + treatment.itTookPlace}}-->
<!--            <br/>-->
<!--          </div>-->
<!--        </div>-->
        <br/>
      </div>
    </div>
  </div>
</div>
