
.sidebar {
  width: 312px;
  height: auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  color: #1c1c1c;
  padding: 20px;
  margin-top: 20px;
}

.patient-service-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  color: #626562;
  margin-bottom: 20px;
  text-align: center;
}

.btnCreatePost,
.btnCreateSubreddit {
  width: 100%;
  background-color: #3cc537;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btnCreateSubreddit {
  background-color: #5cbfff;
  color: white;
}

.btnCreatePost:hover,
.btnCreateSubreddit:hover {
  opacity: 0.9;
}
