<div class="reddit-body">
  <div class="container">
    <div class="row">
      <hr />
      <div class="row justify-content-center py-5 mb-auto">
        <div class="sidebar">
          <div style="text-align: center; font-size: 1em" class="my-3">
            Patient services.
          </div>
          <div style="text-align: center">
            <button class="btnCreatePost">Display all patients</button>
          </div>
          <div style="text-align: center">
            <button class="btnCreateSubreddit">Add a patient</button>
          </div>
          <div style="text-align: center">
            <button class="btnCreatePost">Remove patient</button>
          </div>
          <div style="text-align: center">
            <button class="btnCreateSubreddit">Edit patient information</button>
          </div>
        </div>
        <div class="sidebar">
          <div style="text-align: center; font-size: 1em" class="my-3">
            Handling of treatments
          </div>
          <div style="text-align: center">
            <button class="btnCreateSubreddit">View all treatments</button>
          </div>
          <div style="text-align: center">
            <button class="btnCreatePost">Add treatment</button>
          </div>
          <div style="text-align: center">
            <button class="btnCreateSubreddit">Remove treatment</button>
          </div>
          <div style="text-align: center">
            <button class="btnCreatePost">Sign up for treatment</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
